html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

.app {
  position: relative;
  flex: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: #000000c7;

  &--active {
    display: block;
  }

  &--inactive {
    display: none;
  }
}

.container {
  &--wide {
    @include respond-to("xlarge") {
      max-width: 1550px !important;
    }
  }
}

.solid-bg {
  background-color: #ebeff7;
}

.banner-h {
  padding-bottom: $gutter * 2;

  @include respond-to("medium") {
    padding-bottom: $gutter * 3;
  }

  &__ph {
    display: block;
    width: 720px;
    height: 90px;
    margin: 0 auto;
  }
}
.banner-v {
  margin-bottom: $gutter;
}
