.layout {
  display: flex;

  &__main {
    width: 100%;
    flex: 1;
    min-width: 200px;
  }

  &__sidebar {
    flex: 0 0 300px;

    &--right {
      margin-left: $gutter;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$gutter / 4;
    margin-left: -$gutter / 4;
    
    .col {
      padding-right: $gutter / 4;
      padding-left: $gutter / 4;
    }
  }
}
