$breakpoints: (
  "xsmall": (
    min-width: 321px
  ),
  "small": (
    min-width: 576px
  ),
  "medium": (
    min-width: 768px
  ),
  "large": (
    min-width: 992px
  ),
  "xlarge": (
    min-width: 1200px
  ),
  "xxlarge": (
    min-width: 1500px
  )
) !default;

/// Mixin to manage responsive breakpoints
/// @author Hugo Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

$gutter: 20px;
$white: #fff;
$black: #363636;
$lightblack: #323230;
$error: #ff0000;
$purple: #a110cb;
$darkblue: #191d28;
$green: #1c9a4b;
$light-forest-green: #4da05c;
$tealGreen: #32a094;
$blueGrey: #73829f;
$babyBlue: #ebeff7;
$azulBlue: #365ddb;
$paleGrey: #fafbfe;
$orange: #db8b36;
$red: #db3636;
