.accordian {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-bottom: $gutter;
    border: solid 2px #eef0f2;
    border-radius: 13px;
    overflow: hidden;
    font-size: 15px;

    &--active {
      box-shadow: 3px 4px 8px #00000014;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: $gutter;
    font-size: 15px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    transition: 0.3s;
    cursor: pointer;

    @include respond-to("medium") {
      padding: $gutter ($gutter * 2);
      font-size: 20px;
    }

    &:after {
      content: "\002B";
      font-size: 23px;
      font-weight: 700;
      color: $azulBlue;
    }

    &--active {
      background: $azulBlue;
      color: $white;

      &:after {
        content: "x";
        font-family: "Lato", sans-serif;
        color: $white;
      }
    }
  }

  &__body {
    max-height: 0px;
    overflow: hidden;
    line-height: 27px;
    transition: 0.5s;
  }

  &__main {
    padding: $gutter;

    @include respond-to("medium") {
      padding: $gutter ($gutter * 2);
    }
  }
}
