.article-teaser {
  margin-bottom: $gutter;
  padding: $gutter;
  background: $paleGrey;
  border-radius: 8px;
  color: $black;

  &__image {
    position: relative;
    width: 100%;
    height: 164px;
    background-size: cover;
    margin-bottom: $gutter;
  }

  &__label {
    position: absolute;
    top: 5px;
    right: 5px;
    color: $white;
    padding: 3px 25px;
    border-radius: 12px;
    font-size: 13px;

    &--a {
      background: $light-forest-green;
    }

    &--b {
      background: $orange;
    }

    &--c {
      background: $red;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: $gutter / 2;
    line-height: 27px;
    font-size: 20px;
    font-family: "Merriweather", serif;
    font-weight: 400;

    &--small {
      margin-bottom: $gutter / 2;
      font-size: 15px;
    }
  }

  &__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__tag {
    display: flex;
    align-items: center;
    margin-top: $gutter / 2;
    margin-right: $gutter * 2;
    margin-bottom: $gutter / 2;
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0);
    }
  }

  &__tag-icon {
    width: 10px;
    height: 10px;
    background: lightblue;
  }

  &__tag-text {
    display: flex;
    align-items: center;
    font-size: 12px;

    &--has-icon {
      padding-left: $gutter / 4;
    }
  }

  &__excerpt {
    margin: 0;
    margin: ($gutter / 4) 0;
    line-height: 25px;
    font-size: 15px;
    font-weight: 500;
  }
}
