.breadcrumbs {
  padding: $gutter 0;

  &__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: 13px;

      @include respond-to("medium") {
        font-size: 15px;
      }

      a {
        display: flex;
        align-items: center;
        color: $blueGrey;
        text-decoration: none;

        &:after {
          // arrow
          content: "";
          display: inline-block;
          margin: 0 $gutter / 2;
          padding: 3px;
          border: solid $blueGrey;
          border-width: 0 1px 1px 0;
          transform: rotate(-45deg);

          @include respond-to("medium") {
            margin: 0 ($gutter * 1.5);
          }
        }
      }

      &:last-child {
        font-weight: 700;

        a {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
