.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: ($gutter / 2) 0;
  // background: $white;
  // border: 1px solid #ccd6ea;
  border-radius: 8px;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: $green;
  text-decoration: none;

  &--theme-a {
    background: $green;
    border: none;
    border-color: $white;
    color: $white;
    font-weight: 900;
  }

  &--theme-b {
    background: $azulBlue;
    border: none;
    border-color: $white;
    color: $white;
  }
  
  &--theme-c {
    background: $white;
    border: none;
    border-color: $darkblue;
    color: $darkblue;
  }

  &--has-arrow {
    &:after {
      content: "";
      display: inline-block;
      margin-left: $gutter / 2;
      padding: 3px;
      border: solid;
      border-color: inherit;
      border-width: 0 3px 3px 0;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
}
