.filter-w-img {
  margin: ($gutter / 2) 0;

  &__wrap {
    display: block;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      .filter-w-img__main {
        transition: 0.2s;
        box-shadow: 0px 5px 18px 2px rgba(43, 43, 43, 0.1);
      }

      .filter-w-img__link {
        transition: 0.3s;
        color: $azulBlue;
        border-color: $azulBlue;
        text-decoration: underline;
      }
    }
  }

  &__main {
    display: flex;
    justify-content: center;
    padding: $gutter;
    background: $white;
    // border: 1px solid #c8cdc8;
    border-radius: 8px;
    overflow: hidden;
  }

  &__logo {
    max-height: 40px;
  }

  &__button {
    position: relative;
    margin-top: $gutter / 2;
    text-align: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $lightblack;
    border-color: #bbbbbb;

    &:after {
      content: "";
      display: inline-block;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      padding: 3px;
      margin-left: 10px;
      border: solid;
      border-color: inherit;
      border-width: 0 2px 2px 0;
    }
  }
}
