.focused {
  margin: $gutter 0;
  padding: $gutter;
  border: 4px solid $azulBlue;
  border-radius: 18px;

  @include respond-to("small") {
    margin: ($gutter * 2) 0;
    padding: $gutter * 2;
  }

  &__row {
    margin-top: $gutter;
    margin-bottom: $gutter;

    &:first-child {
      margin-top: $gutter / 2;
      margin-bottom: $gutter;
    }

    &:last-child {
      margin-top: $gutter * 2;
      margin-bottom: $gutter / 2;
    }
  }

  &__header {
    margin-top: $gutter;
    margin-bottom: $gutter;
  }

  &__title {
    margin: 0;
    font-size: 22px;
    font-family: "Lato", sans-serif;
    color: $azulBlue;

    @include respond-to("medium") {
      font-size: 28px;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 20px;
      margin-right: $gutter / 2;
      background-image: url(../../assets/media/img/speech.png);
      background-size: cover;
    }
  }

  &__main {
    margin: $gutter 0;
  }

  &__btn {
    font-size: 15px;
    font-weight: 700;

    @include respond-to("medium") {
      height: 60px;
      font-size: 20px;
      max-width: 220px;
    }
  }
}
