.forex-faq {
  padding: ($gutter * 2) 0 ($gutter * 2) 0;

  @include respond-to("medium") {
    padding: ($gutter * 4) 0 ($gutter * 2) 0;
  }

  &__title {
    margin: 0;
    padding-bottom: $gutter;
    font-size: 25px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    text-align: center;

    @include respond-to("medium") {
      padding-bottom: $gutter * 2;
      font-size: 30px;
    }
  }
}
