.link {
  color: $black;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &--view-all {
    display: block;
    text-align: right;
  }

  &--turns-alt-color {
    &:hover {
      color: $azulBlue;
    }
  }
}
