.partners {
  &__header {
    margin: 0;
    padding-top: $gutter / 2;
    padding-bottom: $gutter;
    font-size: 27px;
    font-family: "Merriweather", serif;
    font-weight: 400;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -($gutter / 2);
    margin-right: -($gutter / 2);
  }

  &__view-all-wrap {
    text-align: right;
    padding: ($gutter / 2) 0 $gutter 0;
  }

  &__view-all {
    font-size: 15px;
    color: $black;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
