.partner {
  width: 100%;
  padding: $gutter / 2;

  @include respond-to("medium") {
    width: 50%;
  }

  @include respond-to("medium") {
    width: 33.33%;
  }

  @include respond-to("large") {
    width: 25%;
  }

  @include respond-to("xlarge") {
    width: 20%;
  }
  &__wrap {
    padding: $gutter;
    background: $white;
  }

  &__logo {
    width: 100%;
  }

  &__name {
    padding: ($gutter / 2) 0 ($gutter / 4) 0;
  }

  &__stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-bottom: $gutter / 2;
  }

  &__star {
    max-width: 20%;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: $gutter;
    font-size: 14px;
  }

  &__btn-small {
    width: 38%;
  }

  &__btn-large {
    width: 58%;
  }

  &__disclaimer {
    font-size: 11px;
    color: #c5c5c5;
    text-align: center;
  }
}
