.stats {
  display: none;
  padding: $gutter / 2;
  border-bottom: 2px solid #0000001c;

  @include respond-to("large") {
    display: block;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__item {
    flex: 1;
    max-width: 150px;
    margin: 0 ($gutter * 2) 0 0;

    &:last-child {
      margin: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: $gutter / 4;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: $lightblack;
  }

  &__header-name {
    padding-right: $gutter / 4;

    &:last-child {
      padding-right: 0;
    }
  }

  &__figure {
    color: $tealGreen;

    &--main {
      padding-right: $gutter / 4;
      font-size: 19px;
    }

    &--secondary {
      font-size: 10px;
    }
  }

  &__arrow {
    border: solid #abaaaa;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-right: $gutter / 4;
    transform: rotate(-135deg);
  }
}
