$borderSize: 4px;

.toplinks {
  background: $paleGrey;
  border-radius: 0;

  &__link {
    margin: 0;
    margin-left: $borderSize;
    padding: $gutter;
    font-size: 15px;
    font-weight: 400;

    &:hover {
      margin-left: 0;
      border-left: 4px solid $azulBlue;
    }
  }
}
