.widget {
  padding: $gutter;
  background: $white;
  border-radius: 8px;
  border: 1px solid #eef0f2;

  &:hover {
    transition: 0.5s;
    box-shadow: 0px 5px 18px 2px rgba(43, 43, 43, 0.1);
  }

  &__container {
    width: 100%;
    margin-top: -($gutter / 2);
    margin-bottom: -($gutter / 2);
  }

  &__row {
    margin-top: ($gutter / 2);
    margin-bottom: ($gutter / 2);

    .row {
      margin-right: -5px;
      margin-left: -5px;

      .col {
        padding-right: 5px;
        padding-left: 5px;
      }
    }
  }

  &__featured-image {
    width: 100%;
  }

  &__logo {
    max-height: 50px;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: $lightblack;

    &--compare-by {
      font-weight: 700;
    }
  }

  &__link {
    color: $lightblack;
    text-decoration: none;
    text-decoration-color: $lightblack;

    &:hover {
      text-decoration: underline;
    }

    &--colored-hover {
      &:hover {
        color: $azulBlue;
      }
    }

    &--has-arrow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &:after {
        content: "";
        border: solid #bbbbbb;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);

        &:hover {
          border: solid none;
        }
      }
    }

    &--view-all {
      display: block;
      text-align: right;
    }
  }

  &__icon {
    max-width: 30px;
    max-height: 20px;
    margin-right: $gutter / 2;

    &--partner {
      margin-bottom: $gutter / 2;
    }
  }

  &__disclaimer {
    font-size: 11px;
    color: #c5c5c5;
    text-align: center;
  }

  &__list {
    margin: 0;
    padding: $gutter 0;
    list-style: none;
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $gutter / 2;
  }
}
