.wysiwyg {
  h2 {
    margin: 0;
    margin-bottom: $gutter;
    font-size: 25px;
    font-family: "Merriweather", serif;
    font-weight: 400;

    @include respond-to("medium") {
      margin-bottom: $gutter * 2;
      font-size: 32px;
    }
  }

  h3 {
    margin: ($gutter * 2) 0 $gutter 0;
    font-size: 17px;
    font-family: "Merriweather", serif;
    font-weight: 700;

    @include respond-to("medium") {
      font-size: 20px;
    }
  }

  p {
    font-size: 15px;
    line-height: 35px;

    @include respond-to("medium") {
      font-size: 19px;
      line-height: 40px;
    }
  }
}

.wysywig {
  margin: $gutter 0;
  padding: $gutter;
  border: 4px solid $azulBlue;
  border-radius: 18px;

  h3 {
    font-family: "Lato", sans-serif;
    color: $azulBlue;

    &:before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 20px;
      margin-right: $gutter / 2;
      background-image: url(../../assets/media/img/speech.png);
      background-size: cover;
    }
  }
}
