.cta-banner {
  padding: ($gutter / 2) 0;
  background-image: url(../../assets/media/img/hero-background.png);
  background-position: 50% 80%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: $darkblue;
  border-bottom: 1px solid white;
  color: $white;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;

    @include respond-to("medium") {
      flex-direction: row;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin: $gutter 0;
  }

  &__icon {
    margin-right: $gutter;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;

    @include respond-to("medium") {
      font-size: 25px;
    }
  }

  &__btn {
    // width: 200px;
    margin: $gutter 0;
    height: 50px;
    font-weight: 700;
  }
}
