.footer {
  padding: $gutter * 2 0;
  background-color: $darkblue;
  color: $white;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: $gutter * 2;
    text-align: center;

    @include respond-to("small") {
      flex-direction: row;
      text-align: left;
    }
  }

  &__header {
    padding-bottom: $gutter;
    font-family: "Merriweather", serif;
    font-size: 15px;

    @include respond-to("large") {
      font-size: 20px;
    }
  }

  &__col {
    flex: 1;
    margin-bottom: $gutter;

    &:last-child {
      flex-basis: 100%;

      @include respond-to("large") {
        flex-basis: 0%;
      }
    }

    @include respond-to("small") {
      margin-bottom: 0;
    }
  }

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding-bottom: $gutter;
    font-size: 13px;

    @include respond-to("large") {
      font-size: 17px;
    }
  }

  &__link {
    text-decoration: none;
    color: $white;
  }

  &__highlighted-link {
    color: #365ddb;
  }

  &__logo {
    max-width: 150px;

    @include respond-to("large") {
      max-width: 250px;
    }
  }

  &__disclaimer {
    font-size: 13px;
    color: #ffffffb0;

    p {
      margin: 0;
      text-align: center;

      @include respond-to("small") {
        text-align: left;
      }
    }
  }
}

.logo-placeholder {
  display: block;
  width: 200px;
  height: 50px;
  background-color: grey;
}
