.hero {
  background: rgba($darkblue, 1);
  background-image: url(../../assets/media/img/hero-background.png);
  background-position: 55% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  color: $white;

  @include respond-to("large") {
    background-size: 50%;
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: ($gutter * 2) 0;

    @include respond-to("large") {
      padding: ($gutter * 3) 0;
    }

    &--centered {
      text-align: center;
    }
  }

  &__title {
    margin: 0;
    padding-bottom: $gutter / 2;
    font-family: Merriweather;
    font-size: 35px;
    font-weight: 400;

    @include respond-to("medium") {
      font-size: 40px;
    }

    @include respond-to("large") {
      font-size: 56px;
    }

    &--centered {
      margin: auto;
      max-width: 900px;
    }
  }

  &__sub-title {
    margin: 0;
    margin-bottom: $gutter;
    line-height: 30px;
    font-size: 15px;
    font-weight: 400;

    @include respond-to("medium") {
      font-size: 17px;
      line-height: 35px;
    }

    @include respond-to("large") {
      font-size: 20px;
      line-height: 41px;
    }
  }

  &__btn {
    font-size: 15px;

    @include respond-to("medium") {
      font-size: 17px;
      max-width: 230px;
      height: 50px;
    }
  }

  &__btn-col {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 ($gutter * 0.75);

    @include respond-to("medium") {
      width: 33.33%;
    }

    @include respond-to("xlarge") {
      width: 20%;
    }

    .btn {
      width: 100%;
      font-size: 18px;
    }
  }

  &__visual {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: $gutter 0;
  }
}
