.module {
  padding: ($gutter * 4) 0;
  background: $white;

  &:nth-child(even) {
    background: $babyBlue;
  }

  &__title {
    margin: 0;
    padding-bottom: $gutter;
    font-family: "Merriweather", serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;

    &--hub {
      text-align: left;
    }

    @include respond-to("medium") {
      padding-bottom: $gutter * 2;
      font-size: 32px;
    }
  }

  &__sidebar-title {
    margin: 0;
    padding-top: $gutter * 2;
    padding-bottom: $gutter;
    font-family: "Merriweather", serif;
    font-size: 20px;
    font-weight: 400;
  }

  &__col-2-5 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    @include respond-to("small") {
      width: 50%;
    }

    @include respond-to("large") {
      width: 25%;
    }

    @include respond-to("xlarge") {
      width: 20%;
    }
  }

  &__has-sidebar {
    display: flex;
  }

  &__main {
    width: 100%;
    flex: 1;
    min-width: 200px;
  }

  &__sidebar {
    flex: 0 0 300px;

    &--right {
      margin-left: $gutter;
    }
  }

  &__section {
    margin-bottom: $gutter * 3;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$gutter / 2;
    margin-left: -$gutter / 2;

    &:first-child {
      margin-top: 0;
    }

    .col {
      padding-right: $gutter / 2;
      padding-left: $gutter / 2;
    }
  }

  &__read-more {
    padding-top: $gutter;
  }
}
