.nav {
  position: relative;

  &--dropdown-active {
    border-bottom: 2px solid #365ddb;
  }

  &--dropdown-inactive {
    border-bottom: 2px solid #0000001c;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: ($gutter / 2) 0;
  }

  &__logo {
    max-height: 50px;
  }

  &__main {
    margin: 0;
    list-style: none;
    display: none;

    @include respond-to("large") {
      display: flex;
    }
  }

  &__item {
    padding: 0 ($gutter * 2) 0 0;
    color: red;

    &:last-child {
      padding: 0;
    }
  }

  &__link {
    padding: $gutter 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;

    &--active {
      color: #365ddb;
    }

    &--inactive {
      color: $lightblack;
    }
  }
}

.megamenu {
  display: none;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateY(100%);
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  transition: 1s;

  &--active {
    display: block;
  }

  &__wrapper {
    position: relative;
    left: -50%;
    min-width: 1340px;
    padding: ($gutter * 1.5) ($gutter * 2);
    background: $white;
  }

  &__col {
    // padding-right: $gutter;
    list-style: none;
  }

  &__header {
    display: block;
    font-family: "Merriweather", serif;
    margin-bottom: $gutter * 1.5;
    color: $lightblack;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 0 0 20px 0;
    margin: 0;
    font-weight: 400;

    &:last-child {
      padding: 0;
    }

    a {
      text-decoration: none;
      color: #525252;
    }
  }
}

.placeholder {
  display: block;
  width: 150px;
  height: 50px;
  background-color: grey;
}
