.procons {
  &__header {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;

    &--pro {
      color: $green;
    }

    &--con {
      color: $red;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-left: 5px solid;

    &--pro {
      border-color: $green;
    }

    &--con {
      border-color: $red;
    }
  }

  &__item {
    display: flex;
    margin: ($gutter * 1.5) 0;
    line-height: 30px;
    font-size: 16px;
    color: $black;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: $gutter;
    margin-left: $gutter;
  } 

  &__button {
    width: 190px;
    margin: ($gutter * 2) auto 0 auto;
    font-weight: bold;
  }
}
