.stepguide {
  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $gutter 0;
    text-align: center;

    @include respond-to("large") {
      .stepguide__icons {
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(100%, -50%) rotate(90deg);
          width: 18.5px;
          height: 11.5px;
          background-image: url(../assets/media/img/arrow.png);
          background-size: cover;
        }
      }

      &:last-child {
        .stepguide__icons {
          &::after {
            content: "";
            display: none;
          }
        }
      }
    }
  }

  &__icons {
    position: relative;
    width: 100%;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    max-width: 100%;
    height: 80px;
    max-height: 100%;
    margin: auto;
    background: $white;
    border-radius: 100%;
    font-family: "Merriweather", serif;
    font-size: 30px;
    color: $blueGrey;
  }

  &__header {
    margin: 0;
    margin: ($gutter * 1.5) 0 ($gutter / 2);
    line-height: 35px;
    font-size: 20px;
    font-family: "Merriweather", serif;
    color: $black;
  }

  &__description {
    margin: 0;
    line-height: 30px;
    color: $black;
  }

  &__button {
    width: 200px;
    font-weight: 700;
    margin: $gutter auto 0 auto;
  }
}
